#titleTxt{
  text-shadow: 2px 4px 2px #000000;
  top:0%;
  color: white;
  text-align: center;
  font-size: 160px;
}
#p1,#p2{
  top:5%;
  color: white;
  text-align: center;
  font-size: 45px;
  line-height: 0.7;
}
#p2{
    font-size: 60px;
    line-height: 0.8;
}
